 <!--Footer-->  
 <section class="text-white">
  <div class="proyectos container-fluid rounded p-3 mb-5 bg-body-transparent">
   
      <div class="row">
        <div class="col-sm-2 text-center mt-5">
      <button type="submit" class="btn btn-close-white"><i class="fa-solid fa-download"></i></button>
        </div>
        <div class="col-sm-10 text-center"> 
      <p>Nancy Cardozo |  Argentina Programa 2023</p>
   <p>Rosario, Santa Fe, Argentina</p> 
    </div>
    <!--<a href="documento.pdf" download="miarchivo.pdf">Descargar</a>-->
    
  </div>
    </div>




 
   
  </section>
