<!--Proyectos--> 
<section class="text-white">
    <div class="proyectos container-fluid rounded p-3 mb-5 bg-body-transparent">
      <div class="row">
        <div class="col-sm-2">
          <h4>PROYECTOS</h4>
          <img src="assets/img/APlogo4.png" alt="logo Argentina Programa" width="50%" class="imglogo">
          <p><time>06/2022</time> - <time> 01/2023</time></p>
          
        </div>
    
        <div class="col-sm-10">
          <h6>Proyecto integrador final</h6>
            
            <ul>
              <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt voluptatem accusantium ullam eaque dolores a, aspernatur incidunt at blanditiis placeat cumque soluta optio, reprehenderit earum repellat magnam ad, facere consequatur!</li> 
            </ul>
        </div> 
      </div>
      </div>
    </section>   
