




   <app-tab-adm-perfil></app-tab-adm-perfil>
   <app-tab-adm-imagen-fyap></app-tab-adm-imagen-fyap>
   <app-tab-adm-educacion></app-tab-adm-educacion>
   <app-tab-adm-explaboral></app-tab-adm-explaboral>
<app-tab-adm-habilidades></app-tab-adm-habilidades>
<app-tab-adm-proyectos></app-tab-adm-proyectos>
<app-tab-adm-contactos></app-tab-adm-contactos>
<app-tab-adm-footer></app-tab-adm-footer>

<app-tablero-adm></app-tablero-adm>

<router-outlet></router-outlet> 



<!-- <span>{{ title }}</span> -->