/*estilo de secciones generales*/
.acercademi, .educacion, .experiencia, .hab-tecnicas, .proyectos, .contactos{
    background-color: rgba(17, 106, 239, 0.789);
    margin-top: 2em;
    box-shadow: 5px 5px 15px 5px rgb(244, 244, 250)
  }
  .col-sm-10{
    margin-top: 2em;
  }
  h6{
    margin-left: 1em;
    }
    /*Responsive*/
@media only screen and (max-width: 800px) {
  
}

/*imagen de fondo*/
body{
    background-image:
    /*linear-gradient(
                90deg,
                rgba(3, 10, 32, 0.466),
                rgba(195, 205, 218, 0.532),
                rgba(4, 13, 53, 0.532)
              ),*/
    url(assets/Img/espacio.png);
    background-repeat:no-repeat;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 1em;
    }

    /*logo secciones*/
.imglogo{
  border-radius: 6em;
  margin-top: 1em;
  }