 <!--4 icono Experiencia-->
 <div class="col">
    <div ><button type="button" class="btn btn primary btn-lg p-5" data-bs-toggle="modal" data-bs-target="#experienciaModal">
                <i class="fa-solid fa-briefcase fa-2xl"></i>
              </button></div>
  </div>

  <!--4 Modal Experiencia-->
<div class="modal fade" id="experienciaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="expmodaltitulo">Experiencia Laboral</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body px-4">
          
          <div class="mb-3 row">
            <select class="form-select mb-3" aria-label="Default select example">
              <option selected>Elejir uno</option>
              <option value="1">Coto CICSA</option>
              <option value="2">Norte S.A</option>
            </select>
  
            <label for="formFileSm mb-3" class="form-label">Logo Empresa</label>
                <input class="form-control form-control-sm" id="modalelogoemp" type="file">
  
                <label for="formFileSm" class="form-label">Nombre de la empresa</label>
                <input class="form-control form-control-sm" id= "modalenombreemp" type="text">
  
                <label for="formFileSm" class="form-label">Puesto</label>
                <input class="form-control form-control-sm" id= "modalpuesto" type="text">
  
                <label for="formFileSm" class="form-label">Periodo</label>
                <input class="form-control form-control-sm" id= "modaleperiodoe" type="date">
          </div>
         </div>
  <!-- botonnes para cambios-->  
          <div class="modal-footer">
         <button type="button" class="btn btn-danger">Eliminar</button>
            <button type="button" class="btn btn-warning">Actualizar</button>
            <button type="button" class="btn btn-primary">Guardar</button>
          </div>
        </div>
       
      </div>
    </div>
